@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* ::-webkit-scrollbar {
  width: 10px;
}

* ::-webkit-scrollbar-track {
  background: #FAFAFA;
}

* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #7E7E7E;
}

* ::-webkit-scrollbar-thumb:hover {
  background: #424242;
}

body {
  margin: 0;
  background-color: #FAFAFA;
}

body .RYMCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .RYMCard--left-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  height: 100%;
}

body .RYMCard--left-img img {
  width: 255px;
  height: 255px;
  margin: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .RYMCard--right-element {
  display: block;
}

body .RYMCard--right-element h1 {
  font-family: montserrat, sans-serif;
  font-size: 33px;
  margin: 0;
  color: #424242;
}

body .RYMCard--right-element h1::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .RYMCard--right-element h1::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .RYMCard--right-element h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #424242;
}

body .RYMCard--right-element h2::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .RYMCard--right-element h2::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .RYMCard--right-element--button {
  padding: 10px 20px;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #1F7CC1;
}

body .RYMCard--right-element--button img {
  width: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .RYMCard--right-element--button a {
  text-decoration: none;
  font-family: montserrat,sans-serif;
  font-weight: bold;
  font-size: 19px;
  padding-left: 20px;
  color: #FAFAFA;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .Navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  margin: 0 auto 120px auto;
  background-color: #424242;
}

body .Navbar--left-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /*&--logo{

            }*/
}

body .Navbar--left-items--burguer {
  width: 32px;
  margin: auto 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .Navbar--left-items a {
  padding: 10px 20px;
  font-family: montserrat, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  margin: auto;
  color: #FAFAFA;
}

body .Navbar--left-items a::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .Navbar--left-items a::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .Navbar--right-items {
  /*&--log{
                    
            }*/
}

body .Navbar--right-items--form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  width: calc(100% - 40px);
  margin: 10px 20px;
}

body .Navbar--right-items--form input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: montserrat, sans-serif;
  font-size: 13px;
  font-weight: bold;
  width: calc( 100% - 90px);
  padding: 5px 10px;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-appearance: none;
  border-style: none;
  outline-style: none;
  color: #424242;
}

body .Navbar--right-items--form input::-webkit-search-decoration, body .Navbar--right-items--form input::-webkit-search-cancel-button, body .Navbar--right-items--form input::-webkit-search-results-button, body .Navbar--right-items--form input::-webkit-search-results-decoration {
  display: none;
}

body .Navbar--right-items--form input::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .Navbar--right-items--form input::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .Navbar--right-items--form--select-dropdown--button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 18px;
  padding: 5px 0px;
  vertical-align: middle;
  background-color: #FAFAFA;
  cursor: pointer;
}

body .Navbar--right-items--form--select-dropdown--button span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: montserrat, sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: auto 0;
  color: #424242;
}

body .Navbar--right-items--form--select-dropdown--button span::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .Navbar--right-items--form--select-dropdown--button span::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .Navbar--right-items--form--select-dropdown--button img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 6px;
  padding: 0px 5px;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .Navbar--right-items--form--select-dropdown--dropdown {
  position: absolute;
  right: 3.0625%;
  padding: 10px;
  border-radius: 10px;
  color: #FAFAFA;
  background-color: #424242;
  cursor: pointer;
}

body .Navbar--right-items--form--select-dropdown--dropdown span {
  display: block;
  font-family: montserrat, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 5px;
  color: #FAFAFA;
}

body .Navbar--right-items--form--select-dropdown--dropdown span::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .Navbar--right-items--form--select-dropdown--dropdown span::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .Navbar--right-items--form--select-dropdown--dropdown span:hover {
  background-color: #1F7CC1;
  color: #FAFAFA;
}

body .Navbar--right-items--form--button img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 10px;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

body .content-wrapper {
  margin: 0 auto;
}

body .content-wrapper .Review {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

body .content-wrapper .Review--title {
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 40px;
  color: #424242;
}

body .content-wrapper .Review--title::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--title::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card {
  position: relative;
  margin-bottom: 120px;
}

body .content-wrapper .Review--card--image-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content-wrapper .Review--card--image-section--image {
  width: 220px;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .content-wrapper .Review--card--image-section--ratings-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 110px;
      grid-template-columns: 110px 110px;
}

body .content-wrapper .Review--card--image-section--ratings-section--stars {
  margin: 5px 0 10px 0;
}

body .content-wrapper .Review--card--image-section--ratings-section--ratings {
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: right;
  margin: 5px 0 10px 0;
  color: #7E7E7E;
}

body .content-wrapper .Review--card--image-section--ratings-section--ratings::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--image-section--ratings-section--ratings::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--infos--name {
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-size: 33px;
  margin: 0 0;
  color: #1F7CC1;
}

body .content-wrapper .Review--card--infos--name::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--infos--name::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--infos--artist {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 0 0;
  color: #7E7E7E;
}

body .content-wrapper .Review--card--infos--artist::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--infos--artist::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--infos--genre-title {
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-size: 19px;
  margin: 10px 0px 5px 0px;
  color: #424242;
}

body .content-wrapper .Review--card--infos--genre-title::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--infos--genre-title::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--infos--genre {
  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: 0 0;
  color: #7E7E7E;
}

body .content-wrapper .Review--card--infos--genre::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--infos--genre::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--infos--subgenre {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 0 0;
  color: #7E7E7E;
}

body .content-wrapper .Review--card--infos--subgenre::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--infos--subgenre::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--descriptors--title {
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-size: 19px;
  margin: 10px 0 0 0;
  color: #424242;
}

body .content-wrapper .Review--card--descriptors--title::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--descriptors--title::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--descriptors h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 5px;
  margin: 5px 10px 5px 0;
  border-radius: 10px;
  background-color: #E5E5E5;
  color: #7E7E7E;
}

body .content-wrapper .Review--card--descriptors h5::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--descriptors h5::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--paragraph-wrapper--paragraph {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  color: #7E7E7E;
}

body .content-wrapper .Review--card--paragraph-wrapper--paragraph::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--paragraph-wrapper--paragraph::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Review--card--paragraph-wrapper--expand {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-21.09%, rgba(250, 250, 250, 0)), color-stop(50%, #FAFAFA));
  background: linear-gradient(180deg, rgba(250, 250, 250, 0) -21.09%, #FAFAFA 50%);
}

body .content-wrapper .Review--card--paragraph-wrapper--expand button {
  position: absolute;
  bottom: -10%;
  left: 0;
  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: 19px;
  border-style: none;
  outline-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: #FAFAFA;
  color: #1F7CC1;
}

body .content-wrapper .Aside {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

body .content-wrapper .Aside--social-cards--title {
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 40px;
  color: #424242;
}

body .content-wrapper .Aside--social-cards--title::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Aside--social-cards--title::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Aside--social-cards--social-wrapper {
  margin-bottom: calc(120px - 20px);
}

body .content-wrapper .Aside--social-cards--social-wrapper img {
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .content-wrapper .Aside--side-features--menu-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body .content-wrapper .Aside--side-features--menu-wrapper h3 {
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 40px;
}

body .content-wrapper .Aside--side-features--menu-wrapper h3::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Aside--side-features--menu-wrapper h3::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Aside--side-features--menu-wrapper--feature {
  margin-right: 20px;
  color: #424242;
  cursor: pointer;
}

body .content-wrapper .Aside--side-features--menu-wrapper--my-feature {
  color: #7E7E7E;
  cursor: pointer;
}

body .content-wrapper .Aside--side-features--cards-wrapper--feature-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

body .content-wrapper .Aside--side-features--cards-wrapper--feature-card--image {
  width: 64px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .content-wrapper .Aside--side-features--cards-wrapper--feature-card--side {
  margin-left: 20px;
}

body .content-wrapper .Aside--side-features--cards-wrapper--feature-card--side--name {
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  color: #424242;
}

body .content-wrapper .Aside--side-features--cards-wrapper--feature-card--side--name::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Aside--side-features--cards-wrapper--feature-card--side--name::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Aside--side-features--cards-wrapper--feature-card--side--artist {
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 13px;
  margin: 5px 0 10px 0;
  color: #7E7E7E;
}

body .content-wrapper .Aside--side-features--cards-wrapper--feature-card--side--artist::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Aside--side-features--cards-wrapper--feature-card--side--artist::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Aside--side-features--cards-wrapper--feature-card--side--bottom--year {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: left;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 13px;
  margin: 0 20px 0 0;
  color: #7E7E7E;
}

body .content-wrapper .Aside--side-features--cards-wrapper--feature-card--side--bottom--year::-moz-selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Aside--side-features--cards-wrapper--feature-card--side--bottom--year::selection {
  background-color: #424242;
  color: #FAFAFA;
}

body .content-wrapper .Aside--side-features--cards-wrapper--feature-card--side--bottom--star {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 1350px) {
  .RYMCard {
    width: 75%;
    margin: 0 auto 120px auto;
    padding: 180px 0 0 0;
  }
  .RYMCard--right-element {
    margin: auto 0 auto 20px;
  }
  .Navbar {
    width: calc(75% + 40px);
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    border-radius: 10px;
  }
  .Navbar--left-items--burguer {
    display: none;
  }
  .content-wrapper {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content-wrapper .Review--card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(220px + 40px) 1fr;
        grid-template-columns: calc(220px + 40px) 1fr;
    -ms-grid-rows: 8fr 7fr;
        grid-template-rows: 8fr 7fr;
  }
  .content-wrapper .Review--card--image-section {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 3 / 2;
  }
  .content-wrapper .Review--card--infos {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  .content-wrapper .Review--card--descriptors {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  .content-wrapper .Review--card--paragraph-wrapper {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
  }
  .content-wrapper .Aside {
    margin-left: 120px;
  }
}

@media (max-width: 1349px) {
  .RYMCard {
    width: 75%;
    margin: 0 auto 120px auto;
    padding: 180px 0 0 0;
  }
  .RYMCard--right-element {
    margin: auto 0 auto 20px;
  }
  .Navbar {
    width: calc(75% + 40px);
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    border-radius: 10px;
  }
  .Navbar--left-items--burguer {
    display: none;
  }
  .content-wrapper {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content-wrapper .Review--card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(220px + 40px) 1fr;
        grid-template-columns: calc(220px + 40px) 1fr;
    -ms-grid-rows: 7fr 2fr;
        grid-template-rows: 7fr 2fr;
  }
  .content-wrapper .Review--card--image-section {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 3 / 2;
  }
  .content-wrapper .Review--card--infos {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  .content-wrapper .Review--card--descriptors {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
  }
  .content-wrapper .Review--card--paragraph-wrapper {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
  }
  .content-wrapper .Aside {
    margin-left: 120px;
  }
}

@media (max-width: 1270px) {
  .RYMCard {
    width: 75%;
    margin: 0 auto 120px auto;
    padding: 180px 0 0 0;
  }
  .RYMCard--right-element {
    margin: auto 0 auto 20px;
  }
  .Navbar {
    width: calc(75% + 40px);
    -ms-grid-columns: 1fr 4fr;
        grid-template-columns: 1fr 4fr;
    border-radius: 10px;
  }
  .Navbar--left-items--burguer {
    display: block;
    width: 32px;
  }
  .Navbar--left-items a {
    display: none;
  }
  .content-wrapper {
    width: 75%;
    display: block;
  }
  .content-wrapper .Aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
  }
}

@media (max-width: 780px) {
  .RYMCard {
    width: 75%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .RYMCard--right-element {
    margin: 40px 0 auto 0;
  }
  .Navbar {
    width: calc(75% + 40px);
  }
  .content-wrapper {
    width: 75%;
    display: block;
  }
  .content-wrapper .Review--card {
    -ms-grid-rows: 18fr 5fr;
        grid-template-rows: 18fr 5fr;
  }
  .content-wrapper .Aside {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 680px) {
  .RYMCard {
    width: 85%;
    margin: 0 auto 40px auto;
    padding: 10px 0 0 0;
  }
  .Navbar {
    width: 100%;
    border-radius: 0;
  }
  .content-wrapper {
    width: 85%;
  }
  .content-wrapper .Review--card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 7fr 4fr 3fr;
        grid-template-rows: 7fr 4fr 3fr;
  }
  .content-wrapper .Review--card--image-section {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  .content-wrapper .Review--card--infos {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  .content-wrapper .Review--card--descriptors {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
  .content-wrapper .Review--card--paragraph-wrapper {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4 / 1 / 5 / 2;
  }
}
/*# sourceMappingURL=App.css.map */