@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$colors:(
    whiteColor: #FAFAFA,
    lightGreyColor: #E5E5E5,
    darkGreyColor:#7E7E7E,
    blackColor: #424242,
    accentColor: #1F7CC1
);

$metric:(
    mili: 5px,
    mini: 10px,
    normal: 20px,
    mega: 40px,
    giga: 120px,
    tera: 180px
);

$textMetric:(
    mili: 13px,
    mini: 15px,
    normal: 19px,
    mega: 25px,
    giga: 33px
);
*{
    ::-webkit-scrollbar {
        width: map-get($metric, mini);
    }

    ::-webkit-scrollbar-track {
        background: map-get($colors, whiteColor); 
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: map-get($metric, mili);

        background: map-get($colors, darkGreyColor); 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: map-get($colors, blackColor); 
    }
}
body{
    margin:0;
    
    background-color: map-get($colors, whiteColor);

    .RYMCard{
        display: flex;
        align-items: center;
        //height: 250px;

        &--left-img{
            display: flex;
            float: left;

            height: 100%;
            
            img{
                width: 255px; //original: 255px
                height: 255px;
                margin: auto;

                user-select: none;
            }
        }
        &--right-element{
            display: block;
            
            h1{
                font-family: montserrat, sans-serif;
                font-size: map-get($textMetric, giga); //original: 36px

                margin: 0;

                color: map-get($colors, blackColor);

                &::selection{
                    background-color: map-get($colors, blackColor);
                    color: map-get($colors, whiteColor);
                }
            }
            h2{
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: map-get($textMetric, mega); //original: 24px

                margin-top: map-get($metric, normal);
                margin-bottom: map-get($metric, mega);

                color: map-get($colors, blackColor);

                &::selection{
                    background-color: map-get($colors, blackColor);
                    color: map-get($colors, whiteColor);
                }
            }
            &--button{
                padding: map-get($metric, mini) map-get($metric, normal);
                border-radius: map-get($metric, mini);
                width: fit-content;
                
                cursor: pointer;

                background-color: map-get($colors, accentColor);

                img{
                    width: 15px;

                    user-select: none;
                }
                a{
                    text-decoration: none;
                    font-family: montserrat,sans-serif;
                    font-weight: bold;
                    font-size: map-get($textMetric, normal);

                    padding-left: map-get($metric, normal);

                    color: map-get($colors, whiteColor);

                    user-select: none;
                }
            }
        }
    }
    .Login{
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;

        width: 100%;
        height: 100%;
        
        margin: auto;

        z-index: 2;

        background-color: rgba(0, 0, 0, .5);
        &--card{
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        
            margin: auto;
            padding: map-get($metric, mega);
            border-radius: map-get($metric, normal);

            color: map-get($colors, darkGreyColor);
            background-color: map-get($colors, lightGreyColor);

            h1{
                font-family: montserrat, sans-serif;
                font-weight: bold;
                font-size: map-get($textMetric, giga);

                //padding-top: map-get($metric, normal);
                padding-bottom: map-get($metric, normal);
                margin-top: 0;
                //margin-bottom: map-get($metric, mega);
    
                color: map-get($colors, blackColor);

                &::selection{
                    background-color: map-get($colors, blackColor);
                    color: map-get($colors, whiteColor);
                }
            }
            h3{
                font-family: roboto, sans-serif;
                font-weight: bold;
                font-size: map-get($textMetric, normal);
    
                margin-bottom: map-get($metric, mini);
    
                color: map-get($colors, blackColor);

                &::selection{
                    background-color: map-get($colors, blackColor);
                    color: map-get($colors, whiteColor);
                }
            }
            &--email{
                margin-top: map-get($metric, mega);
            }
            &--password{
                margin-top: map-get($metric, normal);
            }
            form{
                width: 100%;
                input{
                    display: inline-flex;

                    font-family: montserrat, sans-serif;
                    font-size: map-get($textMetric, mini);
                    font-weight: bold;

                    width: calc(100% - 20px);

                    margin-bottom: map-get($metric , normal);
                    padding: map-get($metric, mini) map-get($metric, mini);
                    border-radius: map-get($metric, mili);

                    -webkit-appearance: none;
                    border-style: none;
                    outline-style: none;

                    color: map-get($colors, darkGreyColor);
                    background-color: map-get($colors, whiteColor);

                    &::selection{
                        background-color: map-get($colors, blackColor);
                        color: map-get($colors, whiteColor);
                    }
                }
            }
            button{
                text-decoration: none;
                font-family: montserrat,sans-serif;
                font-weight: bold;
                font-size: map-get($textMetric, normal);

                width: fit-content;
                
                margin-top: map-get($metric, mega);
                padding: map-get($metric, mini) map-get($metric, mega);
                border-radius: map-get($metric, mili);
                border-style: none;
            
                cursor: pointer;
                user-select: none;

                color: map-get($colors, whiteColor);
                background-color: map-get($colors, accentColor);
            }
            span{
                font-family: roboto,sans-serif;
                font-weight: bold;
                font-size: map-get($textMetric, normal);

                margin: map-get($metric, normal);
            
                cursor: pointer;
                user-select: none;

                color: map-get($colors, darkGreyColor);
            }

        }
    }
    .Navbar{
        display: grid;
        grid-template-rows: 1fr;

        position: sticky;
        position: -webkit-sticky;
        top: 0;

        z-index: 1;

        //overflow: hidden;

        //height: calc(30px + 30px);
        margin: 0 auto map-get($metric, giga) auto;

        background-color: map-get($colors, blackColor); 

        &--left-items{
            display: inline-flex;

            &--logo{
                width: 32px;
                height: 32px;
                margin: auto map-get($metric, normal);
        
                user-select: none;
                
            }
            &--burguer{
                width: 32px;
                height: 32px;
                margin: auto map-get($metric, normal);
            
                user-select: none;
            }
            a{
                padding: map-get($metric, mini) map-get($metric, normal);
                font-family: montserrat, sans-serif;
                font-size: map-get($textMetric, mega); //original: 24px
                font-weight: bold;
                text-decoration: none;

                margin: auto;

                color: map-get($colors, whiteColor);

                &::selection{
                    background-color: map-get($colors, blackColor);
                    color: map-get($colors, whiteColor);
                }
            }
        }
        &--right-items{
            &--form{
                display: inline-flex;
                //float: right;

                //width: calc(100% - 40px);
                width: calc( 85% - 90px);
                margin: map-get($metric, mini) map-get($metric, normal);
                input{
                    display: inline-flex;

                    font-family: montserrat, sans-serif;
                    font-size: map-get($textMetric, mili);
                    font-weight: bold;

                    width: 100%;
                    padding: map-get($metric, mili) map-get($metric, mini);
                    border-radius: 0;
                    border-top-left-radius: map-get($metric, mili);
                    border-bottom-left-radius: map-get($metric, mili);
                    -webkit-appearance: none;
                    border-style: none;
                    outline-style: none;

                    color: map-get($colors, blackColor);

                    &::-webkit-search-decoration,
                    &::-webkit-search-cancel-button,
                    &::-webkit-search-results-button,
                    &::-webkit-search-results-decoration {
                        display: none; 
                    }
                    &::selection{
                        background-color: map-get($colors, blackColor);
                        color: map-get($colors, whiteColor);
                    }
                }
                
                &--select-dropdown{
                    &--button{
                        display: inline-flex;

                        height: 18px;
                        padding: map-get($metric, mili) 0px;
                        vertical-align: middle;

                        background-color: map-get($colors, whiteColor);

                        cursor: pointer;

                        span{
                            display: inline-flex;
                            font-family: montserrat, sans-serif;
                            font-size: map-get($textMetric, mini); //original: 14px
                            font-weight: bold;

                            margin: auto 0;

                            color: map-get($colors, blackColor);

                            &::selection{
                                background-color: map-get($colors, blackColor);
                                color: map-get($colors, whiteColor);
                            }
                        }
                        img{
                            display: inline-flex;
                            width: 6px;
                            
                            padding: 0px map-get($metric, mili);
                            vertical-align: middle;

                            user-select: none;
                        }
                    }
                    &--dropdown{
                        position: absolute;
                        //bottom: -30px;
                        right: 3.0625%;

                        padding: map-get($metric, mini);
                        border-radius: map-get($metric, mini);

                        color: map-get($colors, whiteColor);
                        background-color: map-get($colors, blackColor);

                        cursor: pointer;

                        span{
                            display: block;

                            font-family: montserrat, sans-serif;
                            font-size: map-get($textMetric, mini); //original: 14px
                            font-weight: bold;

                            //margin: auto 0;
                            padding: map-get($metric, mili) map-get($metric, normal);
                            border-radius: map-get($metric, mili);

                            color: map-get($colors, whiteColor);

                            &::selection{
                                background-color: map-get($colors, blackColor);
                                color: map-get($colors, whiteColor);
                            }
                            &:hover{
                                background-color: map-get($colors, accentColor);
                                color: map-get($colors, whiteColor);
                            }
                        }
                    }

                }
                &--button{
                    //display: contents;
                    
                    img{
                        display: inline-flex;
                        
                        padding-left: map-get($metric, mini);

                        vertical-align: middle;
                        vertical-align: -webkit-baseline-middle;
                        vertical-align: -moz-middle-with-baseline;

                        user-select: none;
                        cursor: pointer;
                    }
                }
            }
            &--log{
                text-decoration: none;
                font-family: montserrat,sans-serif;
                font-weight: bold;
                font-size: map-get($textMetric, mini);

                display: inline-block;
                padding: map-get($metric, mili) map-get($metric, normal);
                border-radius: map-get($metric, mili);
                border-style: none;
                width: fit-content;
                
                cursor: pointer;
                user-select: none;
                outline: none;

                background-color: map-get($colors, accentColor);
                color: map-get($colors, whiteColor);
            }
        }
        
    }
    .content-wrapper{
        margin: 0 auto map-get($metric , giga) auto;

        .Review{
            flex: 3;
    
            &--title{
                font-family: montserrat, sans-serif;
                font-weight: bold;
                font-size: map-get($textMetric, mega);
    
                margin-top: 0;
                margin-bottom: map-get($metric, mega);
    
                color: map-get($colors, blackColor);
    
                &::selection{
                    background-color: map-get($colors, blackColor);
                    color: map-get($colors, whiteColor);
                }
            }
            &--card{
                position: relative;
    
                margin-bottom: map-get($metric, giga);
    
                
                &--image-section{   
                    display: flex;
                    flex-direction: column;

                    &--image{

                        width: 220px;

                        border-radius: map-get($metric , mini);

                        user-select: none;
                    }
                    &--ratings-section{
                        display: grid;
                        grid-template-columns: 110px 110px;


                        &--stars{
                        
                            margin: map-get($metric , mili) 0 map-get($metric , mini) 0;

                        }
                        &--ratings{
                            font-family: montserrat, sans-serif;
                            font-weight: bold;
                            font-size: map-get($textMetric, mini); //original: 14px
                            text-align: right;

                            margin: map-get($metric , mili) 0 map-get($metric , mini) 0;

                            color: map-get($colors, darkGreyColor);

                            &::selection{
                                background-color: map-get($colors, blackColor);
                                color: map-get($colors, whiteColor);
                            }
                        }
                    }

                }
                &--infos{
                    &--name{
                        font-family: montserrat, sans-serif;
                        font-weight: bold;
                        font-size: map-get($textMetric, giga);// original: 36px
                        margin: 0 0;
                        
                        color: map-get($colors, accentColor);
                        
                        &::selection{
                            background-color: map-get($colors, blackColor);
                            color: map-get($colors, whiteColor);
                        }
                    }
                    &--artist{
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        font-size: map-get($textMetric, mega);// original: 36px
                        margin: 0 0;
                        
                        color: map-get($colors, darkGreyColor);

                        &::selection{
                            background-color: map-get($colors, blackColor);
                            color: map-get($colors, whiteColor);
                        }
                    }
                    &--genre-title{
                        font-family: montserrat, sans-serif;
                        
                        font-weight: bold;
                        font-size: map-get($textMetric, normal);// original: 18px
                        
                        margin: map-get($metric, mini) 0px map-get($metric, mili) 0px;
                        
                        color: map-get($colors, blackColor);

                        &::selection{
                            background-color: map-get($colors, blackColor);
                            color: map-get($colors, whiteColor);
                        }
                    }
                    &--genre{
                        font-family: roboto, sans-serif;
                        
                        font-weight: bold;
                        font-size: map-get($textMetric, mini);// original: 18px
                        margin: 0 0;
                        
                        color: map-get($colors, darkGreyColor);

                        &::selection{
                            background-color: map-get($colors, blackColor);
                            color: map-get($colors, whiteColor);
                        }
                    }
                    &--subgenre{
                        font-family: roboto, sans-serif;
                        
                        font-weight: 500;
                        font-size: map-get($textMetric, mini);// original: 18px
                        margin: 0 0;
                        
                        color: map-get($colors, darkGreyColor);

                        &::selection{
                            background-color: map-get($colors, blackColor);
                            color: map-get($colors, whiteColor);
                        }
                    }
                }
                &--descriptors{
                    &--title{
                        font-family: montserrat, sans-serif;
                        font-weight: bold;
                        font-size: map-get($textMetric, normal);// original: 18px
                        
                        margin: map-get($metric, mini) 0 0 0;
                        
                        color: map-get($colors, blackColor);

                        &::selection{
                            background-color: map-get($colors, blackColor);
                            color: map-get($colors, whiteColor);
                        }
                    }
                    h5{
                        display: flex;
                        float: left;

                        font-family: roboto, sans-serif;
                        font-weight: 500;
                        font-size: map-get($textMetric, mini);// original: 18px
                        
                        padding: map-get($metric, mili);
                        margin: map-get($metric, mili) map-get($metric, mini) map-get($metric, mili) 0;
                        border-radius: map-get($metric, mini);

                        background-color: map-get($colors, lightGreyColor);
                        color: map-get($colors, darkGreyColor);

                        &::selection{
                            background-color: map-get($colors, blackColor);
                            color: map-get($colors, whiteColor);
                        }
                    }
                }
                &--paragraph-wrapper{
                    &--paragraph{
                        font-family: roboto, sans-serif;
                        font-weight: 500;
                        font-size: map-get($textMetric, mini);// original: 18px
                        line-height: 150%;
                        
                        color: map-get($colors, darkGreyColor);
        
                        &::selection{
                            background-color: map-get($colors, blackColor);
                            color: map-get($colors, whiteColor);
                        }
                    }
                    &--expand{
                        //grid-area: 3 / 1 / 5 / 3;
    
                        position: absolute;
                        bottom: 0;
        
                        width: 100%;
                        height: 12%;
        
                        background: linear-gradient(180deg, rgba(250, 250, 250, 0) -21.09%, #FAFAFA 50%);
        
                        button{
                            position: absolute;
                            bottom: -10%;
                            left: 0;
                            //left: calc(50% -);
        
                            font-family: roboto, sans-serif;
                            font-weight: bold;
                            font-size: map-get($textMetric, normal);
        
                            border-style: none;
                            outline-style: none;
        
                            user-select: none;
                            cursor: pointer;
        
                            background-color: map-get($colors, whiteColor);
                            color: map-get($colors, accentColor);
                        }
                    }
                }
            }
        }
        .Aside{
            flex: 2;

            &--social-cards{
                &--title{
                    font-family: montserrat, sans-serif;
                    font-weight: bold;
                    font-size: map-get($textMetric, mega);
        
                    margin-top: 0;
                    margin-bottom: map-get($metric, mega);
        
                    color: map-get($colors, blackColor);
        
                    &::selection{
                        background-color: map-get($colors, blackColor);
                        color: map-get($colors, whiteColor);
                    }
                }
                &--social-wrapper{
                    margin-bottom: calc(120px - 20px);

                    img{
                        margin-right: map-get($metric, normal);
                        margin-bottom: map-get($metric, normal);
                        border-radius: map-get($metric, mini);

                        user-select: none;
                    }
                }
            }
            &--side-features{
                &--menu-wrapper{
                    display: inline-flex;
                    h3{
                        font-family: montserrat, sans-serif;
                        font-weight: bold;
                        font-size: map-get($textMetric, mega);
            
                        margin-top: 0;
                        margin-bottom: map-get($metric, mega);
            
                        &::selection{
                            background-color: map-get($colors, blackColor);
                            color: map-get($colors, whiteColor);
                        }
                    }
                    &--feature{
                        margin-right: map-get($metric, normal);

                        color: map-get($colors, blackColor);

                        cursor: pointer;
                    }
                    &--my-feature{
                        color: map-get($colors, darkGreyColor);
                    
                        cursor: pointer;
                    }
                }
                &--cards-wrapper{
                    &--feature-card{
                        display: flex;
                        align-items: flex-end;

                        //gap: map-get($metric, normal);

                        margin-bottom: map-get($metric, normal);

                        &--image{
                            width: 64px;

                            user-select: none;
                        }
                        &--side{
                            margin-left: map-get($metric, normal);
                            &--name{
                                font-family: montserrat, sans-serif;
                                font-weight: bold;
                                font-size: map-get($textMetric, mini);

                                margin: 0;

                                color: map-get($colors, blackColor);

                                &::selection{
                                    background-color: map-get($colors, blackColor);
                                    color: map-get($colors, whiteColor);
                                }
                            }
                            &--artist{
                                font-family: montserrat, sans-serif;
                                font-weight: 500;
                                font-size: map-get($textMetric, mili);

                                margin: map-get($metric, mili) 0 map-get($metric, mini) 0;

                                color: map-get($colors, darkGreyColor);

                                &::selection{
                                    background-color: map-get($colors, blackColor);
                                    color: map-get($colors, whiteColor);
                                }
                            }
                            &--bottom{
                                &--year{
                                    display: inline-flex;
                                    float: left;

                                    font-family: montserrat, sans-serif;
                                    font-weight: 500;
                                    font-size: map-get($textMetric, mili);

                                    margin: 0 map-get($metric, normal) 0 0;

                                    color: map-get($colors, darkGreyColor);

                                    &::selection{
                                        background-color: map-get($colors, blackColor);
                                        color: map-get($colors, whiteColor);
                                    }
                                }
                                &--star{
                                    user-select: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1350px){
    .RYMCard{
        width: 75%;
        margin: 0 auto map-get($metric, giga) auto;
        padding: map-get($metric, tera ) 0 0 0;
        
        &--right-element{
            margin: auto 0 auto map-get($metric, normal);
        }
    }
    .Login{
        &--card{
            width: 30%;
            height: 65%;
        }
    }
    .Navbar{
        width: calc(75% + 40px);
        grid-template-columns: 1fr 1fr;

        border-radius: map-get($metric, mini);

        transition: width .5s ease;
        &--left-items{
            &--burguer{
                display: none;
            }
        }

        &-active{    
            width: 100%;
            transition: width .5s ease;
        }

    }
    .content-wrapper{
        width: 75%;
        display: flex;
    
        .Review--card{
            display: grid;
            grid-template-columns: calc(220px + 40px) 1fr;
            grid-template-rows: 8fr 7fr;
    
            &--image-section{
                grid-area: 1 / 1 / 3 / 2;
            }
            &--infos{
                grid-area: 1 / 2 / 2 / 3;
            }
            &--descriptors{
                grid-area: 2 / 2 / 3 / 3;
            }
            &--paragraph-wrapper{
                grid-area: 3 / 1 / 4 / 3;
            }
        }
        .Aside{
            margin-left: map-get($metric, giga);
        }
    }
}
@media(max-width: 1349px){
    .RYMCard{
        width: 75%;

        margin: 0 auto map-get($metric, giga) auto;
        padding: map-get($metric, tera ) 0 0 0;

        &--right-element{
            margin: auto 0 auto map-get($metric, normal);
        }
    }
    .Login{
        &--card{
            width: 30%;
            height: 65%;
        }
    }
    .Navbar{
        width: calc(75% + 40px);
        grid-template-columns: 1fr 1fr;

        border-radius: map-get($metric, mini);

        transition: width .5s ease;

        &--left-items{
            &--burguer{
                display: none;
            }
        }

        &-active{    
            width: 100%;
            transition: width .5s ease;
        }
    }
    .content-wrapper{
        width: 75%;
        display: flex;
        
        .Review--card{
            display: grid;
            grid-template-columns: calc(220px + 40px) 1fr;
            grid-template-rows: 7fr 2fr;
    
            &--image-section{
                grid-area: 1 / 1 / 3 / 2;
            }
            &--infos{
                grid-area: 1 / 2 / 2 / 3;
            }
            &--descriptors{
                grid-area: 2 / 1 / 3 / 3;
            }
            &--paragraph-wrapper{
                grid-area: 3 / 1 / 4 / 3;
            }
        }
        .Aside{
            margin-left: map-get($metric, giga);
        }
    }
}
@media(max-width:1270px){
    .RYMCard{
        width: 75%;

        margin: 0 auto map-get($metric, giga) auto;
        padding: map-get($metric, tera ) 0 0 0;

        &--right-element{
            margin: auto 0 auto map-get($metric, normal);
        }
    }
    .Login{
        &--card{
            width: 45%;
            height: 70%;
        }
    }
    .Navbar{
        width: calc(75% + 40px);
        grid-template-columns: 1fr 4fr;

        border-radius: map-get($metric, mini);

        transition: width .5s ease;

        &--left-items{
            &--burguer{
                display: block;
                width: 32px;
            }
            a{
                display: none;
            }
        }
        &-active{    
            width: 100%;
            transition: width .5s ease;
        }
    }
    .content-wrapper{
        width: 75%;
        display: block;
    
        .Aside{
            display: flex;
            justify-content: space-between;
        
            margin-left: 0;
        }
    }
}
@media(max-width: 780px){
    .RYMCard{
        width: 75%;
        flex-direction: column;

        &--right-element{
            margin: map-get($metric, mega) 0 auto 0;
        }
    }
    .Login{
        &--card{
            width: 70%;
            height: 70%;
        }
    }
    .Navbar{
        width: calc(75% + 40px);
        grid-template-columns: 1fr 6fr;

        transition: width .5s ease;

        &-active{    
            width: 100%;
            transition: width .5s ease;
        }
    }
    .content-wrapper{
        width: 75%;
        display: block;
        .Review--card{
            grid-template-rows: 18fr 5fr;
        }
        .Aside{
            display: block;

            margin-left: 0;
        }
    }
}
@media(max-width: 680px){
    .RYMCard{
        width: 85%;

        margin: 0 auto map-get($metric, mega) auto;
        padding: map-get($metric, mini ) 0 0 0;
    }
    .Navbar{
        width: 100%;

        border-radius: 0;

        &--left-items--logo{
            display: none;
        }
    }
    .content-wrapper{
        width: 85%;
        
        .Review--card{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 7fr 4fr 3fr;
    
            &--image-section{
                grid-area: 1 / 1 / 2 / 2;
            }
            &--infos{
                grid-area: 2 / 1 / 3 / 2;
            }
            &--descriptors{
                grid-area: 3 / 1 / 4 / 2;
            }
            &--paragraph-wrapper{
                grid-area: 4 / 1 / 5 / 2;
            }
        }
    }
}
